*, * ::before, *::before {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
}
body.correct {
    background-color: darkgreen;
}
body.wrong {
    background-color: darkred;
}
.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}
.btn-choice {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;

}

.btn {
    background-color: darkblue;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}
.btn:hover {
    border-color: black;
}

.btn.correct {
    background-color: darkgreen;
}
.btn.wrong {
    background-color: darkred;
}
.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide {
    display: none;
}